@model BookListViewModel
@{
    ViewData["Title"] = ViewBag.Action == "Add" ? "Thêm Sách" : "Chỉnh Sửa Sách";
}

<form asp-action="Upsert" method="post" enctype="multipart/form-data">
    <div class="row p-3 border">
        <div class="col-md-12 border-bottom">
            <h2 class="text-primary">@ViewData["Title"]</h2>
        </div>
        <div class="col-md-8 pt-4">
            <input type="hidden" asp-for="BookDTO.BookId" />

            <div class="mb-3 row">
                <div class="col-md-3">
                    <label class="form-label" asp-for="@Model.BookDTO.Title">Tiêu đề</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" asp-for="BookDTO.Title" />
                    <span class="text-danger" asp-validation-for="BookDTO.Title"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-md-3">
                    <label class="form-label" asp-for="BookDTO.Description">Mô tả</label>
                </div>
                <div class="col-md-9">
                    <textarea class="form-control" rows="6" asp-for="BookDTO.Description"></textarea>
                    <span class="text-danger" asp-validation-for="BookDTO.Description"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-md-3">
                    <label class="form-label" asp-for="BookDTO.Isbn13">Isbn13</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" asp-for="BookDTO.Isbn13" />
                    <span class="text-danger" asp-validation-for="BookDTO.Isbn13"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-md-3">
                    <label class="form-label" asp-for="BookDTO.Inventory">Hàng tồn kho</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" asp-for="BookDTO.Inventory" />
                    <span class="text-danger" asp-validation-for="BookDTO.Inventory"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-md-3">
                    <label class="form-label" asp-for="BookDTO.Price">Giá tiền</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" asp-for="BookDTO.Price" />
                    <span class="text-danger" asp-validation-for="BookDTO.Price"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-md-3">
                    <label class="form-label" asp-for="BookDTO.DiscountPercent">Giảm giá</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" asp-for="BookDTO.DiscountPercent" />
                    <span class="text-danger" asp-validation-for="BookDTO.DiscountPercent"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-md-3">
                    <label class="form-label" asp-for="BookDTO.NumberOfPages">Số trang</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" asp-for="BookDTO.NumberOfPages" />
                    <span class="text-danger" asp-validation-for="BookDTO.NumberOfPages"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-md-3">
                    <label class="form-label" asp-for="BookDTO.PublicationDate">Ngày sản xuất</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" asp-for="BookDTO.PublicationDate" />
                    <span class="text-danger" asp-validation-for="BookDTO.PublicationDate"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-md-3">
                    <label class="form-label">Tác giả</label>
                </div>
                <div class="col-md-9">
                    <input id="authorName" class="form-control" asp-for="BookDTO.AuthorName" />
                    <input id="authorId" type="hidden" asp-for="BookDTO.AuthorId" />
                    <span class="text-danger" asp-validation-for="BookDTO.AuthorName"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-md-3">
                    <label class="form-label">Nhà xuất bản</label>
                </div>
                <div class="col-md-9">
                    <input id="publisherName" class="form-control" asp-for="BookDTO.PublisherName" />
                    <input id="publisherId" type="hidden" asp-for="BookDTO.PublisherId" />
                    <span class="text-danger" asp-validation-for="BookDTO.PublisherName"></span>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-md-3">
                    <label class="form-label">Thể loại</label>
                </div>
                <div class="col-md-9 checkbox-column">
                    @foreach (Category category in Model.Categories)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" 
                                id="category-@category.CategoryId"
                                name="BookDTO.CategoryIds" value="@category.CategoryId"
                            @(Model.BookDTO.CategoryIds.Contains(category.CategoryId) ? "checked" : "") />
                            <label class="form-check-label" for="category-@category.CategoryId">
                                @category.Name
                            </label>
                        </div>
                    }
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-md-3">
                    <label class="form-label"></label>Ảnh bìa</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" type="file" name="files" id="uploadBox" multiple />
                    <input type="hidden" asp-for="BookDTO.ImageUrl">
                </div>
            </div>

            <partial name="_ActionOrReturnPartial" />
        </div>

        <div class="col-md-4">
            @if (Model.BookDTO.ImageUrl is not null)
            {
                <img src="@Model.BookDTO.ImageUrl" />
            }
            else
            {
                <img class="image" src="~/imgs/books/default.jpg" />
            }
        </div>
    </div>
</form>

@section scripts {
    <partial name="_ValidationScriptsPartial.cshtml"></partial>
    <script src="~/js/search/searchAuthor.js"></script>
    <script src="~/js/search/searchPublisher.js"></script>
}