@model IEnumerable<Book>
@{
    ViewData["Title"] = "Trang Chủ";
}

<h1>Tất cả sách</h1>

<form asp-controller="Cart" asp-action="Add" method="get">
    <table id="tblDataBook" class="table table-bordered table-striped table-md">
        <thead class="bg-dark text-white">
            <tr>
                <th>
                    Tiêu Đề
                </th>
                <th>
                    Giá Thành
                </th>
                <th>
                    Thể Loại
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Book book in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@book.BookId"
                            asp-route-slug="@book.Title.Slug()">
                            @book.Title
                        </a>
                    </td>
                    <td>
                        @book.Price.ToString("#,##0.00 VND")
                    </td>
                    <td>
                        @foreach (Category category in book.Categories)
                        {
                            <a asp-controller="Book" asp-action="Details"
                                asp-route-id="@category.CategoryId">
                                @category.Name
                            </a>
                        }
                    </td>
                    <td class="text-center">
                        <a class="btn btn-success" asp-controller="Order" asp-action="BuyItem"
                            asp-route-id="@book.BookId">
                            Mua Ngay
                        </a>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-primary" asp-controller="Cart" asp-action="Add"
                            asp-route-id="@book.BookId">
                            Thêm Vào Giỏ
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>