@model CartItem
@{
    ViewData["Title"] = "Chi Tiết Sách";
}

<h1>Chi Tiết Sách</h1>

<div class="row">
    <div class="col-md-3">
        @if (Model.Book.ImageUrl is not null)
        {
            <img class="image-fluid image rounded" 
                src="@Model.Book.ImageUrl" id="previewImage" width="280px" />
        }
        else
        {
            <img class="image-fluid image rounded" 
                src="~/imgs/books/default.jpg" id="previewImage" width="280px" />
        }
    </div>

    <div class="col-md-9 mb-3">
        <h2>@Model.Book.Title</h2>
        <table class="table table-striped table-bordered table-md">
            <tr>
                <td>ISBN13</td>
                <td>@Model.Book.Isbn13</td>
            </tr>
            <tr>
                <td>Giá gốc</td>
                <td>@Model.Book.Price.ToString("#,## đ")</td>
            </tr>
            <tr>
                <td>Giá</td>
                <td>
                    @Model.Book.DiscountPrice.ToString("#,## đ") - 
                    Đã giảm @Model.Book.DiscountAmount.ToString("#,## đ")
                </td>
            </tr>
            <tr>
                <td>Tác giả</td>
                <td>
                    <a asp-controller="Author" asp-action="Details">
                        @Model.Book.Author.FullName
                    </a>
                </td>
            </tr>
            <tr>
                <td>Số trang</td>
                <td>@Model.Book.NumberOfPages.ToString("N0")</td>
            </tr>
            <tr>
                <td>Thể loại</td>
                <td>
                    @foreach (Category category in Model.Book.Categories)
                    {
                        <a asp-controller="Home" asp-action="Index" asp-route-id="@category.CategoryId">
                            @category.Name
                        </a>
                        @if (category != Model.Book.Categories.Last())
                        {
                            <span>,</span>
                        }
                    }
                </td>
            </tr>
        </table>
        
        <div class="row align-items-center mb-3">
            <div class="col-md-auto">
                <label class="control-label" asp-for="Quantity">Số lượng</label>
            </div>
            <div class="col-md-4">
                <input class="form-control" asp-for="Quantity" />
            </div>
        </div>

        <div class="mb-3">
            <a class="btn btn-success" asp-controller="Order" asp-action="BuyItem"
                asp-route-id="@Model.Book.BookId">
                Mua Ngay
            </a>
            <a class="btn btn-primary" asp-controller="Cart" asp-action="Add"
                asp-route-id="@Model.Book.BookId">
                Thêm Vào Giỏ
            </a>
        </div>
    </div>

    <h3>Mô Tả</h3>
    <p>@Model.Book.Description</p>
</div>