@model CartItemDto
@{
    ViewData["Title"] = "Chi Tiết Sách";
}

<h1>Chi Tiết Sách</h1>

<div class="row">
    <div class="col-lg-3 col-md-5">
        @if (Model.Book.ImageUrl is not null)
        {
            <img class="image image-fluid rounded" 
                src="@Model.Book.ImageUrl" id="previewImage" width="230" />
        }
        else
        {
            <img class="image image-fluid rounded" 
                src="~/imgs/books/default.jpg" id="previewImage" width="230" />
        }
    </div>

    <div class="col-lg-9 col-md-7 mb-3">
        <h2>@Model.Book.Title</h2>
        <table class="table table-striped table-bordered table-md">
            <tr>
                <td>ISBN13</td>
                <td>@Model.Book.Isbn13</td>
            </tr>
            <tr>
                <td>Giá gốc</td>
                <td>@Model.Book.Price.ToString("#,## đ")</td>
            </tr>
            <tr>
                <td>Giá</td>
                <td>
                    @Model.Book.DiscountPrice.ToString("#,## đ") - 
                    Đã giảm @Model.Book.DiscountAmount.ToString("#,## đ")
                </td>
            </tr>
            <tr>
                <td>Tác giả</td>
                <td>
                    <a asp-controller="Author" asp-action="Details">
                        @Model.Book.Author.FullName
                    </a>
                </td>
            </tr>
            <tr>
                <td>Số trang</td>
                <td>@Model.Book.NumberOfPages.ToString("N0")</td>
            </tr>
            <tr>
                <td>Thể loại</td>
                <td>
                    @foreach (Category category in Model.Book.Categories)
                    {
                        <a asp-controller="Home" asp-action="Index" asp-route-id="@category.CategoryId">
                            @category.Name
                        </a>
                        @if (category != Model.Book.Categories.Last())
                        {
                            <span>,</span>
                        }
                    }
                </td>
            </tr>
        </table>
        
        <form method="get">
            @* This is important, remember to add a book to a cartItem *@
            <input type="hidden" asp-for="BookId" />
            <input type="hidden" asp-for="CartItemId" />

            <div class="row align-items-center mb-3">
                <div class="col-auto">
                    <label class="control-label" asp-for="Quantity">Số lượng</label>
                </div>
                <div class="col-6">
                    <input class="form-control" asp-for="Quantity" />
                    <span class="text-danger" asp-validation-for="Quantity"></span>
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-success" type="submit" asp-controller="Order" 
                    asp-action="BuyItem">
                    Mua Ngay
                </button>
                <button class="btn btn-primary" type="submit" asp-controller="Cart" 
                    asp-action="AddCartItem">
                    Thêm Vào Giỏ
                </button>
            </div>
        </form>
    </div>

    <h3>Mô Tả</h3>
    <p>@Model.Book.Description</p>
</div>

@section Scripts {
   <partial name="_ValidationScriptsPartial" />
}
