@model BookListViewModel
@{
    ViewData["Title"] = "Lọc Sách";

    RouteDictionary current = Model.CurrentRoute;
}

<h1>Lọc Sách</h1>

<form class="m-3" asp-action="Filter" method="get">
    <div class="row g-1 align-items-center">
        <div class="col-md-auto">
            <label class="form-label">Thể Loại:</label>
        </div>
        <div class="col-md-auto me-3">
            <select name="filter" class="form-select m-2"
                asp-items="@(new SelectList(
                    Model.Categories, "CategoryId", "Name", current.CategoryFilter))">
                <option value="@GridDTO.DefaultFilter">Tất Cả</option>
            </select>
        </div>

        <div class="col-md-auto">
            <label class="form-label">Giá Cả:</label>
        </div>
        <div class="col-md-auto me-3">
            <select name="filter" class="form-select m-2"
                asp-items="@(new SelectList(
                    Model.Prices, "Key", "Value", current.PriceFilter))">
                <option value="@GridDTO.DefaultFilter">Tất Cả</option>
            </select>
        </div>

        <div class="col-md-auto">
            <label class="form-label">Số Trang:</label>
        </div>
        <div class="col-md-auto me-3">
            <select name="filter" class="form-select m2"
                asp-items="@(new SelectList(
                    Model.NumberOfPages, "Key", "Value", current.NumberOfPagesFilter))">
                <option value="@GridDTO.DefaultFilter">Tất Cả</option>
            </select>
        </div>

        <div class="col-md-auto">
            <label class="form-label">Tác Giả:</label>
        </div>
        <div class="col-md-auto me-3">
            <select name="filter" class="form-select m-2"
                asp-items="@(new SelectList(
                    Model.Authors, "AuthorId", "FullName", current.AuthorFilter))">
                <option value="@GridDTO.DefaultFilter">Tất Cả</option>
            </select>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Send</button>
        <button type="submit" class="btn btn-secondary"
            name="clear" value="true">Clear</button>
    </div>
</form>

<form asp-controller="Cart" asp-action="Add">
    <table class="table table-bordered table-striped table-md">
        <thead class="bg-dark text-white">
            <tr>
                <th>
                    Tiêu Đề
                </th>
                <th>
                    Giá Thành
                </th>
                <th>
                    Thể Loại
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Book book in Model.Books)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@book.BookId" 
                            asp-route-slug="@book.Title.Slug()">
                            @book.Title
                        </a>
                    </td>
                    <td>
                        @book.Price.ToString("#,##0.00 VND")
                    </td>
                    <td>
                        @foreach (Category category in book.Categories)
                        {
                            @category.Name
                        }
                    </td>
                    <td class="text-center">
                        <a class="btn btn-success" asp-controller="Order" asp-action="BuyItem"
                            asp-route-id="@book.BookId">
                            Mua Ngay
                        </a>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-primary" asp-controller="Cart" asp-action="Add"
                            asp-route-id="@book.BookId">
                            Thêm Vào Giỏ
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>