@model Cart
@{
    ViewData["Title"] = "Giỏ Hàng";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <span class="fas fa-shopping-cart"></span>&nbsp;Giỏ hàng của bạn
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-info"
                   asp-controller="Home" asp-action="Index">
                    Tiếp tục mua sắm
                </a>
            </div>
        </div>
    </div>

    @if (Model?.CartItems.Count > 0)
    {
        <div class="card-body">
            @foreach (CartItem cartItem in Model.CartItems)
            {
                <form asp-action="AddCartItem" method="get">
                    <input type="hidden" asp-for="@cartItem.BookId" />
                    <input type="hidden" asp-for="@cartItem.CartItemId" />

                    <div class="row">
                        <div class="col-lg-1 col-2 py-2">
                            <a asp-controller="Book" asp-action="Details"
                               asp-route-id="@cartItem.BookId">
                                @if (cartItem.Book.ImageUrl is not null)
                                {
                                    <img class="img-fluid rounded"
                                         src="@cartItem.Book.ImageUrl" />
                                }
                                else
                                {
                                    <img class="img-fluid rounded"
                                         src="~/imgs/books/default.jpg" />
                                }
                            </a>
                        </div>

                        <div class="col-lg-6 col-10">
                            <h5>
                                <a asp-controller="Book" asp-action="Details"
                                   asp-route-id="@cartItem.BookId">
                                    @cartItem.Book.Title
                                </a>
                            </h5>
                            <p><small>@cartItem.Book.Description.DisplayDescription()</small></p>
                        </div>

                        <div class="col-lg-5 col-12">
                            <div class="row">
                                <div class="col-8">
                                    <p>Giá: @cartItem.Book.DiscountPrice.ToString("#,## đ")</p>

                                    <div class="row d-flex align-items-center mb-3">
                                        <div class="col-auto">
                                            <label class="form-label" asp-for="@cartItem.Quantity">
                                                Số lượng
                                            </label>
                                        </div>
                                        <div class="col-6">
                                            <input class="form-control" asp-for="@cartItem.Quantity" />
                                            <span class="text-danger" asp-validation-for="@cartItem.Quantity"></span>
                                        </div>
                                    </div>

                                    <h6>Tổng: @cartItem.Price.ToString("#,## đ")</h6>
                                </div>

                                <div class="col-4 d-flex align-items-center">
                                    <button type="submit" class="btn btn-outline-primary">Sửa</button>
                                    &nbsp;
                                    <a class="btn btn-outline-danger" asp-action="RemoveCartItem"
                                       asp-route-id="@cartItem.CartItemId">
                                        Xóa
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </form>
            }

            <div class="row">
                <div class="col-lg-3 offset-lg-9 col-5 offset-7">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <span class="text-info">Tổng</span>
                            <strong class="text-info">@Model.TotalAmount.ToString("#,## đ")</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col-lg-4 offset-lg-8 col-md-6 offset-md-6">
                    <a class="btn btn-primary form-control" asp-controller="Order" asp-action="Payment"
                       asp-route-id="@Model.CartId">
                        Xác nhận
                    </a>
                </div>
            </div>
        </div>
    }
    else
    {
        <p class="text-center">Hiện không có sách nào trong giỏ của bạn.</p>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
