@model OrderDto
@{
    ViewData["Title"] = "Đặt hàng";
}

<form method="post" asp-action="Payment">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6 d-flex align-items-center">
                    <span class="fas fa-file-invoice"></span>&nbsp;Đơn đặt hàng của bạn
                </div>
                <div class="col-6 text-end">
                    <a class="btn btn-info" asp-controller="Cart"
                       asp-action="Index">
                        Quay lại giỏ hàng
                    </a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="rounded p-2">
                <div class="row">
                    <div class="col-lg-6 col-12 pb-4">
                        <h4 class="mb-4">
                            <span class="text-info">Thông tin người nhận</span>
                        </h4>

                        <div class="row my-2">
                            <div class="col-md-3">
                                <label class="form-label">Tên</label>
                            </div>
                            <div class="col-md-9">
                                <input class="form-control" asp-for="Name" />
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col-md-3">
                                <label class="form-label">Số điện thoại</label>
                            </div>
                            <div class="col-md-9">
                                <input class="form-control" asp-for="PhoneNumber" />
                                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col-md-3">
                                <label class="form-label">Địa chỉ</label>
                            </div>
                            <div class="col-md-9">
                                <input class="form-control" asp-for="Address"
                                       placeholder="108/2 Đường Hoàng Hoa Thám" />
                                <span class="text-danger" asp-validation-for="Address"></span>
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col-md-3">
                                <label class="form-label">Phường</label>
                            </div>
                            <div class="col-md-9">
                                <input class="form-control" asp-for="Ward"
                                       placeholder="Phường Tân Thới Hiệp" />
                                <span class="text-danger" asp-validation-for="Ward"></span>
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col-md-3">
                                <label class="form-label">Quận</label>
                            </div>
                            <div class="col-md-9">
                                <input class="form-control" asp-for="District"
                                       placeholder="Quận Tân Bình" />
                                <span class="text-danger" asp-validation-for="District"></span>
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col-md-3">
                                <label class="form-label">Thành phố</label>
                            </div>
                            <div class="col-md-9">
                                <input class="form-control" asp-for="City"
                                       placeholder="Hồ Chí Minh" />
                                <span class="text-danger" asp-validation-for="City"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-12 offset-lg-1">
                        <h4 class="mb-4">
                            <span class="text-info">Đơn đặt hàng của bạn</span>
                        </h4>

                        <ul class="list-group mb-3">
                            @foreach (OrderDetail orderDetail in Model.OrderDetails)
                            {
                                <li class="list-group-item d-flex justify-content-between">
                                    <div>
                                        <h6>@orderDetail.Book.Title</h6>
                                        <small class="text-muted">Giá: @orderDetail.Book.DiscountPrice.ToString("#,## đ")</small>
                                    </div>
                                    <div>
                                        <h6 class="text-muted">Tổng: @orderDetail.Price.ToString("#,## đ")</h6>
                                        <small class="text-muted">Số lượng: @orderDetail.Quantity</small>
                                    </div>
                                </li>
                            }
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <h6 class="text-info">Tổng (VND)</h6>
                                <h5 class="text-info">@Model.TotalAmount.ToString("#,## đ")</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col-lg-4 offset-lg-8 col-md-6 offset-md-6">
                    <a class="btn btn-primary form-control" asp-controller="Order" asp-action="Index">
                        Thanh toán
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
