@model OrderIndexViewModel
@using Microsoft.Extensions.Options
@using TopBookStore.Domain.Common

@* Inject it just like with EmailSender so we can access its key *@
@inject IOptions<StripeSettings> Stripe

@{
    ViewData["Title"] = "Đặt hàng";
}

<form asp-action="Payment" method="post">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6 d-flex align-items-center">
                    <span class="fas fa-file-invoice"></span>&nbsp;Đơn đặt hàng của bạn
                </div>
                <div class="col-6 text-end">
                    <a class="btn btn-info" asp-controller="Cart"
                       asp-action="Index">
                        Quay lại giỏ hàng
                    </a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="rounded p-2">
                <div class="row">
                    <div class="col-lg-6 col-12 pb-4">
                        <input type="hidden" asp-for="OrderDto.OrderId" />
                        <input type="hidden" asp-for="CartDto.CartId" />
                        <input type="hidden" asp-for="CartDto.TotalAmount" />

                        <h4 class="mb-4">
                            <span class="text-info">Thông tin người nhận</span>
                        </h4>

                        <div class="row my-2">
                            <div class="col-md-3">
                                <label class="form-label">Tên</label>
                            </div>
                            <div class="col-md-9">
                                <input class="form-control" asp-for="OrderDto.Name" />
                                <span class="text-danger" asp-validation-for="OrderDto.Name"></span>
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col-md-3">
                                <label class="form-label">Số điện thoại</label>
                            </div>
                            <div class="col-md-9">
                                <input class="form-control" asp-for="OrderDto.PhoneNumber" />
                                <span class="text-danger" asp-validation-for="OrderDto.PhoneNumber"></span>
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col-md-3">
                                <label class="form-label">Địa chỉ</label>
                            </div>
                            <div class="col-md-9">
                                <input class="form-control" asp-for="OrderDto.Address"
                                       placeholder="108/2 Đường Hoàng Hoa Thám" />
                                <span class="text-danger" asp-validation-for="OrderDto.Address"></span>
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col-md-3">
                                <label class="form-label">Phường</label>
                            </div>
                            <div class="col-md-9">
                                <input class="form-control" asp-for="OrderDto.Ward"
                                       placeholder="Phường Tân Thới Hiệp" />
                                <span class="text-danger" asp-validation-for="OrderDto.Ward"></span>
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col-md-3">
                                <label class="form-label">Quận</label>
                            </div>
                            <div class="col-md-9">
                                <input class="form-control" asp-for="OrderDto.District"
                                       placeholder="Quận Tân Bình" />
                                <span class="text-danger" asp-validation-for="OrderDto.District"></span>
                            </div>
                        </div>

                        <div class="row my-2">
                            <div class="col-md-3">
                                <label class="form-label">Thành phố</label>
                            </div>
                            <div class="col-md-9">
                                <input class="form-control" asp-for="OrderDto.City"
                                       placeholder="Hồ Chí Minh" />
                                <span class="text-danger" asp-validation-for="OrderDto.City"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-12 offset-lg-1">
                        <h4 class="mb-4">
                            <span class="text-info">Đơn đặt hàng của bạn</span>
                        </h4>

                        <ul class="list-group mb-3">
                            @foreach (CartItem cartItem in Model.CartDto.CartItems)
                            {
                                <li class="list-group-item d-flex justify-content-between">
                                    <div>
                                        <h6>@cartItem.Book.Title</h6>
                                        <small class="text-muted">
                                            Giá: @cartItem.Book.DiscountPrice.ToString("#,## đ")
                                        </small>
                                    </div>
                                    <div>
                                        <h6 class="text-muted">
                                            Tổng: @cartItem.Price.ToString("#,## đ")
                                        </h6>
                                        <small class="text-muted">
                                            Số lượng: @cartItem.Quantity
                                        </small>
                                    </div>
                                </li>
                            }
                            <li class="list-group-item d-flex justify-content-between
                                       align-items-center bg-light">
                                <h6 class="text-info">Tổng (VND)</h6>
                                <h5 class="text-info">
                                    <strong>@Model.CartDto.TotalAmount.ToString("#,## đ")</strong>
                                </h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col-lg-4 offset-lg-8 col-6 offset-6">
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="@Stripe.Value.PublishableKey"
                            data-amount="@Model.CartDto.TotalAmount"
                            data-template-name="TopBookStore"
                            data-label="Thanh toán"
                            data-description="Mua thỏa thích"
                            data-currency="VND"
                            data-locale="auto" @* data-locale="auto" will determine base on broswer *@
                            data-allow-remember-me="false">
                    </script>
                    <script>
                        document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                    </script>
                    <button type="submit" class="btn btn-primary form-control">
                        Thanh toán
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}